.mat-form-field {width: 50%;}

table {
  width: 70%;
  height:200px;
  position:fixed;
  margin-left: auto; /* half of width */
  margin-top: auto;  /* half of height */
  top:90px;
  left:20%;
  border-width: 2px;
  border-style: groove;
}
.mat-flat-button{
  width:1px;
  background: #ffe2ee;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}


.content-box{

  height:200px;
  position:fixed;
  margin-left: auto; /* half of width */
  margin-top: auto;  /* half of height */
  left:35%;

}

.submit-btn{
  color: #0c0000;
  background-color: #ffffff;
  top: 5px;
  left: 7px;

}

.submit-box{
  border-radius: 10px;
  background-color: #88b3ff;
  height: 50px;
  width: 95px;
  border-width: 2px;
  border-style: solid;

}

.error {
  color: #d93a3e;
}


