
<div class="content-box" *ngIf="personData">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <pre></pre>
    <div>
      <div *ngIf="editForm.get('name').hasError('pattern')" class="error">
        Name has invalid characters </div>
      <mat-label style="padding-left: 63px" >
        Name:
      </mat-label>
      <input id="name" name="name" type="text" formControlName="name">
      <pre></pre>
      <div *ngIf="editForm.get('age').errors as ageErrors" class="error">
        Invalid age, age must be between {{ageErrors.age.min }} and {{ageErrors.age.max }}, please try again.
      </div>
      <mat-label style="padding-left: 77px" >
        Age:
      </mat-label>
      <input size="1" id="age" name="age" type="text" formControlName="age">
      <pre></pre>
      <mat-label  >
        Address Line 1:
      </mat-label>
      <input id="addressline1" name="house" type="text" formControlName="addressline1">
      <pre></pre>
      <div *ngIf="editForm.get('addressline2').errors as eirError"  class="error">
        Address exceeds character limit.
      </div>
      <mat-label>
        Address Line 2:
      </mat-label>
      <input id="addressline2" name="house" type="text" formControlName="addressline2">
      <pre></pre>
      <div *ngIf="editForm.get('eircode').errors as eirError"  class="error">
        Eircode exceeds character limit.
      </div>
      <mat-label style="padding-left: 53px" >
        eircode:
      </mat-label>
      <input size="7"  id="eircode" name="eircode" type="text" formControlName="eircode">
      <pre></pre>
      <mat-label style="padding-left: 55px">
        Gender:
      </mat-label>

      <select class="mat-form-field" id="gender" name="gender" formControlName="gender">
        <option value="602e76beae5170004c8f2550" >Female</option>
        <option value="602e76b6ae5170004c8f254f" >Male</option>
      </select>
      <pre></pre>
    </div>
    <div class="submit-box">
      <button mat-stroked-button color="primary" class="submit-btn" type="submit" [disabled]="!editForm.valid">Submit</button>
    </div>
  </form>
</div>

<div id="demobox">
</div>


